#content{
    display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 4fr 10fr 2fr;
  grid-template-areas: 
    "header header header"
    "nav main aside"
    "footer footer footer";
    background-color: rgb(116, 1, 55);
    text-align: center;
 
}
header{
    grid-area: header;
    color: rgb(113, 113, 210);
    font-size: 25px;
    


}
nav{
    grid-area: nav;
    color: rgb(247, 6, 118);
     


}
button{
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(247, 6, 118);
}
button:hover{
    border: 2px solid rgb(113, 113, 210);
    background-color: rgb(170, 170, 207); 
}
main{
    grid-area: main;
    padding-left: 50px;
    color: rgb(247, 6, 118);
    
}
#hyper{
    background-color: rgb(116, 1, 55);
    height: 80px;
    border: 2px solid rgb(247, 6, 118);
    margin: 10px;

}
#hyper:hover{
    border: 2px solid rgb(113, 113, 210);
}
#park{
    background-color: rgb(116, 1, 55);
    height: 80px;
    border: 2px solid rgb(247, 6, 118);
    margin: 10px;
}
#park:hover{
    border: 2px solid rgb(113, 113, 210);
}
#cafe{
    background-color: rgb(116, 1, 55);
    height: 80px;
    border: 2px solid rgb(247, 6, 118);
    margin: 10px;
}
#cafe:hover{
    border: 2px solid rgb(113, 113, 210);
}
#bar{
    background-color: rgb(116, 1, 55);
    height: 80px;
    border: 2px solid rgb(247, 6, 118);
    margin: 10px;  
}
#bar:hover{
    border: 2px solid rgb(113, 113, 210); 
}
#admin{
    background-color: rgb(116, 1, 55);
    height: 80px;
    border: 2px solid rgb(247, 6, 118);
    margin: 10px; 
}
#admin:hover{
    border: 2px solid rgb(113, 113, 210); 
}
#pub{
    background-color: rgb(116, 1, 55);
    height: 80px;
    border: 2px solid rgb(247, 6, 118);
    margin: 10px; 
}
#pub:hover{
    border: 2px solid rgb(113, 113, 210);
}
#restaurant{
    background-color: rgb(116, 1, 55);
    height: 80px;
    border: 2px solid rgb(247, 6, 118);
    margin: 10px;
}
#restaurant:hover{
    border: 2px solid rgb(113, 113, 210);
}
#store{
    background-color: rgb(116, 1, 55);
    height: 80px;
    border: 2px solid rgb(247, 6, 118);
    margin: 10px; 
}
#store:hover{
    border: 2px solid rgb(113, 113, 210);
}
aside{
    grid-area: aside;
    

}
footer{
    grid-area: footer;
    padding-top: 10px;
    color: rgb(247, 6, 118);
    border: 2px solid rgb(247, 6, 118);
    margin-top: 10px;

}